
@import url('https://fonts.googleapis.com/css?family=Overpass&display=swap');

/* ===GLOBAL=== */
.sheet-global_flex_one {
	flex: 1;
}

/* ===PRIMARY=== */
.sheet-wrap {
	font-family: "Overpass", Arial;
	font-size: 12px;
	margin: 0px -10px 0px -10px;
	min-width: 870px;
}

.sheet-pp1,
.sheet-pp2,
.sheet-pp3 {
	display: grid;
	grid-template-columns: 299px 280px 291px;
	grid-template-rows: 156px 977px;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	width: 870px;
	height: 1133px;
	background-color: white;
}

.sheet-pp1 {
	background: url("https://raw.githubusercontent.com/BaldarSilveraxe/Roll20Sheet5e/master/svg/background/mainPage.svg");
	background-position: center center;
	background-size: contain;
}

.sheet-pp2 {
	background: url("https://raw.githubusercontent.com/BaldarSilveraxe/Roll20Sheet5e/master/svg/background/secondPage.svg");
	background-position: center center;
	background-size: contain;
}

.sheet-pp3 {
	background: url("https://raw.githubusercontent.com/BaldarSilveraxe/Roll20Sheet5e/master/svg/background/spellsPage.svg");
	background-position: center center;
	background-size: contain;
}

.sheet-pp1,
.sheet-pp2,
.sheet-pp3 {
	display: none;
}

.sheet-activePage[value="p1"]~div.sheet-pp1,
.sheet-activePage[value="p2"]~div.sheet-pp2,
.sheet-activePage[value="p3"]~div.sheet-pp3 {
	display: grid;
}

/* ===HEADER=== */
.sheet-header {
	grid-area: 1 / 1 / 2 / 4;
	display: grid;
	grid-template-columns: 375px 495px;
	grid-template-rows: 42px 83px 31px;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.sheet-header_top {
	grid-area: 1 / 1 / 2 / 3;
}

.sheet-header_ribbon {
	grid-area: 2 / 1 / 3 / 2;
}

.sheet-ribbon_input {
	width: 319px;
	height: 46px;
	margin: 18px 0px 0px 50px;
}

.sheet-ribbon_label {
	width: 283px;
	height: 17px;
	margin: 2px 0px 0px 86px;
}

.sheet-header_biobox {
	grid-area: 2 / 2 / 3 / 3;
	padding: 1px 0px 0px 0px;
}

.sheet-biobox_row {
	display: flex;
	width: 450px;
	height: 20px;
	margin: 0px 0px 0px 6px;
}

.sheet-biobox_label {
	box-sizing: border-box;
	border-top: 2px solid gray;
}

.sheet-biobox_row_spells_upper {
	display: flex;
	width: 390px;
	height: 46px;
	margin: 7px 0px 0px 36px;
}

.sheet-biobox_row_spells_lower {
	display: flex;
	width: 390px;
	height: 27px;
	margin: 2px 0px 0px 36px;
}

.sheet-biobox_row_spells_a1, 
.sheet-biobox_row_spells_b1, 
.sheet-biobox_row_spells_c1 {
    width: 86px;
    height: 46px;
}

.sheet-biobox_row_spells_a2, 
.sheet-biobox_row_spells_b2, 
.sheet-biobox_row_spells_c2 {
    width: 86px;
    height: 27px;
}

.sheet-biobox_row_spells_b1, 
.sheet-biobox_row_spells_b2 { 
    margin: 0px 0px 0px 64px; 
}

.sheet-biobox_row_spells_c1, 
.sheet-biobox_row_spells_c2 { 
    margin: 0px 0px 0px 68px;
}




.sheet-header_bottom {
	grid-area: 3 / 1 / 4 / 3;
}


/* ----------------------------------------------------------------------------- header players pages */


/* ----------------------------------------------------------------------------- body columns players pages */

/* These get replaced below. pp1ColumnA is done. */
.sheet-columnA {
	grid-area: 2 / 1 / 3 / 2;
}

/* These get replaced below. */
.sheet-columnB {
	grid-area: 2 / 2 / 3 / 3;
}

/* These get replaced below. */
.sheet-columnC {
	grid-area: 2 / 3 / 3 / 4;
}

/* These get replaced below. */
.sheet-columnBC {
	grid-area: 2 / 2 / 3 / 4;
}

/* ----------------------------------------------------------------------------- body columns players pages */

/* ===BODY Page One Column A=== */
.sheet-pp1_column_a {
	grid-area: 2 / 1 / 3 / 2;
	display: grid;
	grid-template-columns: 121px 178px;
	grid-template-rows: 684px 293px;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.sheet-column_a_abilities {
	grid-area: 1 / 1 / 2 / 2;
}

.sheet-abilities_str_label {
	width: 66px;
	height: 20px;
	margin: 32px 0px 0px 39px;
}

.sheet-abilities_modifier {
	width: 66px;
	height: 42px;
	margin: 0px 0px 0px 39px;
}

.sheet-abilities_score {
	width: 66px;
	height: 26px;
	margin: 0px 0px 0px 39px;
}

.sheet-abilities_label {
	width: 66px;
	height: 20px;
	margin: 18px 0px 0px 39px;
}

.sheet-column_a_saveskill {
	grid-area: 1 / 2 / 2 / 3;
}

.sheet-saveskill_inspiration {
	display: flex;
	width: 163px;
	height: 23px;
	margin: 16px 0px 0px 7px;
}

.sheet-saveskill_inspiration_input {
	width: 37px;
	height: 23px;
}

.sheet-saveskill_inspiration_label {
	width: 121px;
	height: 23px;
	margin: 0px 0px 0px 5px;
}

.sheet-saveskill_proficiency {
	display: flex;
	width: 163px;
	height: 31px;
	margin: 29px 0px 0px 7px;
}

.sheet-saveskill_proficiency_input {
	width: 41px;
	height: 31px;
}

.sheet-saveskill_proficiency_label {
	width: 119px;
	height: 31px;
	margin: 0px 0px 0px 3px;
}

.sheet-saveskill_save {
	display: flex;
	width: 149px;
	height: 20px;
	margin: 0px 0px 0px 13px;
}

.sheet-saveskill_saveSTR {
	margin: 23px 0px 0px 13px;
}

.sheet-saveskill_save_proficiency {
	width: 20px;
	height: 20px;
}

.sheet-saveskill_save_input {
	box-sizing: border-box;
	width: 25px;
	height: 20px;
	border-bottom: 1px solid gray;
	margin: 0px 1px 0px 1px;
}

.sheet-saveskill_save_label {
	width: 102px;
	height: 20px;
}

.sheet-saveskill_savingthrow_label {
	width: 149px;
	height: 20px;
	margin: 0px 0px 0px 13px;
}

.sheet-saveskill_skills {
	display: flex;
	width: 149px;
	height: 20px;
	margin: 0px 0px 0px 13px;
}

.sheet-saveskill-acrobatics {
	margin: 26px 0px 0px 13px;
}

.sheet-saveskill_skill_proficiency {
	width: 24px;
	height: 20px;
}

.sheet-saveskill_skill_input {
	box-sizing: border-box;
	width: 25px;
	height: 20px;
	border-bottom: 1px solid gray;
	margin: 0px 1px 0px 1px;
}

.sheet-saveskill_skill_label {
	width: 102px;
	height: 20px;
}

.sheet-saveskill_skills_label {
	width: 149px;
	height: 20px;
	margin: 3px 0px 0px 13px;
}

.sheet-column_a_passiveother {
	grid-area: 2 / 1 / 3 / 3;
}

.sheet-passiveother_passivewisdom {
	display: flex;
	width: 260px;
	height: 29px;
	margin: 10px 0px 0px 31px;
}

.sheet-passiveother_passivewisdom_input {
	width: 41px;
	height: 29px;
}

.sheet-passiveother_passivewisdom_label {
	width: 213px;
	height: 29px;
	margin: 0px 0px 0px 6px;
}

.sheet-passiveother_otherproficiencies_area {
	width: 253px;
	height: 190px;
	margin: 22px 0px 0px 34px;
}

.sheet-passiveother_otherproficiencies_label {
	width: 253px;
	height: 20px;
	margin: 0px 0px 0px 34px;
}

/* ===BODY Page One Column B=== */
.sheet-pp1_column_b {
	grid-area: 2 / 2 / 3 / 3;
	background: rgba(100, 50, 255, 0.1);
}

.sheet-column_b_acinitspeed  {
	display: flex;
	width: 233px;
	height: 69px;
	margin: 23px 0px 0px 25px;
}
.sheet-acinitspeed_armorclass {
    width: 60px;
	height: 69px;
}
.sheet-acinitspeed_armorclass_input {
    width: 60px;
	height: 40px;
}
.sheet-acinitspeed_armorclass_label {
    width: 60px;
	height: 29px;
}

.sheet-acinitspeed_initiative {
    width: 66px;
	height: 69px; 
	margin: 0px 0px 0px 20px;
}
.sheet-acinitspeed_initiative_input {
    width: 66px;
	height: 49px; 
}
.sheet-acinitspeed_initiative_label {
    width: 66px;
	height: 20px; 
}

.sheet-acinitspeed_speed {
    width: 66px;
	height: 69px; 
	margin: 0px 0px 0px 21px;
}
.sheet-acinitspeed_speed_input {
    width: 66px;
	height: 49px; 
}
.sheet-acinitspeed_speed_label {
    width: 66px;
	height: 20px;
}

.sheet-column_b_hitpointmaximum  {
	display: flex;
	width: 237px;
	height: 20px;
	margin: 16px 0px 0px 23px;
}
.sheet-hitpointmaximum_label  {
    width: 94px;
	height: 20px;
}
.sheet-hitpointmaximum_input {
    width: 143px;
	height: 20px;
}    
.sheet-column_b_currenthitpoints_input  {
	width: 237px;
	height: 48px;
	margin: 0px 0px 0px 23px;
}

.sheet-column_b_currenthitpoints_label {
    width: 237px;
	height: 20px;
	margin: 0px 0px 0px 23px;
}

.sheet-column_b_temporaryhitpoints_input {
	width: 237px;
	height: 50px;
	margin: 8px 0px 0px 23px;
}
.sheet-column_b_temporaryhitpoints_label {
	width: 237px;
	height: 20px;
	margin: 0px 0px 0px 23px;
}

.sheet-column_b_hitdicedeathsaves {
	display: flex;
	width: 233px;
	height: 69px;
	margin: 15px 0px 0px 25px;
}

.sheet-hitdicedeathsaves_hitdice {
    width: 106px;
	height: 69px; 
}

.sheet-hitdicedeathsaves_hitdice_total {
    display: flex;
    width: 106px;
	height: 20px;
}
.sheet-hitdicedeathsaves_hitdice_total_label {
    width: 50px;
    height: 20px;
}
.sheet-hitdicedeathsaves_hitdice_total_input {
    width: 56px;
	height: 20px;
}
.sheet-hitdicedeathsaves_hitdice_input {
    width: 106px;
	height: 29px;
}

.sheet-hitdicedeathsaves_hitdice_label {
   width: 106px;
	height: 20px;
}

.sheet-column_b_deathSaves {
    width: 106px;
	height: 69px; margin: 0px 0px 0px 20px;
}

.sheet-deathSaves_succss {
    display: flex;
    width: 106px;
    height: 20px; margin: 2px 0px 0px 0px;
}

.sheet-deathSaves_failures {
    display: flex;
    width: 106px;
    height: 20px; margin: 2px 0px 0px 0px;
}

.sheet-deathSaves_succss_input,
.sheet-deathSaves_failures_input {
    width: 40px;
    height: 20px;
}

.sheet-deathSaves_succss_label,
.sheet-deathSaves_failures_label {
    width: 66px;
    height: 20px;
}

.sheet-deathSaves_label {
    width: 106px;
    height: 20px; margin: 2px 0px 0px 0px;
}


.sheet-column_b_attacksxpellcasting{
	width: 259px;
	height: 271px;
	margin: 28px 0px 0px 12px; background: rgba(255, 0, 255, 0.3);
}
.sheet-column_b_attacksxpellcasting_label {
	width: 259px;
	height: 20px;
	margin: 0px 0px 0px 12px;
}

.sheet-column_b_coinequipment {
	width: 266px;
	height: 69px;
	margin: 17px 0px 0px 3px;
}

.sheet-coinequipment_coinequipment_wrap {
    display: flex;
    width: 266px;
	height: 197px;
}

.sheet-coinequipment_coins {
    width: 79px;
	height: 197px;
}

.sheet-coins_row {
    display: flex;
    width: 79px;
	height: 31px; 
	margin: 7px 0px 0px 0px; 
}

.sheet-coins_row_first {
    margin: 12px 0px 0px 0px;
}

.sheet-coins_label {
    width: 15px;
	height: 31px;
	margin: 0px 0px 0px 0px;/*update*/
}

.sheet-coins_input {
    width: 64px;
	height: 31px;
	margin: 0px 0px 0px 0px;/*update*/
}


.sheet-coinequipment_equipmenttop_input {
    width: 187px;
	height: 197px;
}


.sheet-coinequipment_equipmentbottom_input {
	width: 259px;
	height: 44px;
	margin: 0px 0px 0px 9px;;
}

.sheet-coinequipment_label {
	width: 259px;
	height: 20px;
	margin: 0px 0px 0px 9px;
}















/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ TEMP stuff below */

.sheet-temp {
	position: absolute;
	top: 100px;
}

.sheet-header_top,
.sheet-header_bottom {
	background: rgba(255, 0, 255, 0.3);
}


/* Magenta */
.sheet-coinequipment_equipmenttop_input,
.sheet-deathSaves_succss_input,
.sheet-deathSaves_failures_input,
.sheet-hitdicedeathsaves_hitdice_total_input,
.sheet-column_b_temporaryhitpoints_input,
.sheet-hitpointmaximum_input,
.sheet-acinitspeed_armorclass_input,
.sheet-acinitspeed_initiative_input,
.sheet-acinitspeed_speed_input,
.sheet-passiveother_otherproficiencies_area,
.sheet-passiveother_passivewisdom_input,
.sheet-saveskill_skill_input,
.sheet-saveskill_save_input,
.sheet-saveskill_proficiency_input,
.sheet-saveskill_inspiration_input,
.sheet-abilities_score,
.sheet-ribbon_input {
	background: rgba(0, 255, 0, 0.3);
}


/* green */
.sheet-coins_label,
.sheet-coinequipment_label,
.sheet-column_b_attacksxpellcasting_label,
.sheet-deathSaves_label,
.sheet-hitdicedeathsaves_hitdice_label,
.sheet-hitdicedeathsaves_hitdice_total_label,
.sheet-hitpointmaximum_label,
.sheet-column_b_temporaryhitpoints_label,
.sheet-column_b_currenthitpoints_label,
.sheet-acinitspeed_initiative_label,
.sheet-acinitspeed_speed_label,
.sheet-acinitspeed_armorclass_label,
.sheet-passiveother_otherproficiencies_label,
.sheet-passiveother_passivewisdom_label,
.sheet-saveskill_skills_label,
.sheet-saveskill_skill_label,
.sheet-saveskill_savingthrow_label,
.sheet-saveskill_save_label,
.sheet-saveskill_proficiency_label,
.sheet-saveskill_inspiration_label,
.sheet-abilities_label,
.sheet-abilities_str_label,
.sheet-ribbon_label {
	background: rgba(255, 0, 0, 0.3);
}


/* red */
.sheet-coinequipment_equipmentbottom_input,
.sheet-deathSaves_succss_label,
.sheet-deathSaves_failures_label,
.sheet-hitdicedeathsaves_hitdice_input,
.sheet-column_b_currenthitpoints_input,
.sheet-saveskill_skill_proficiency,
.sheet-saveskill_save_proficiency,
.sheet-abilities_modifier,
.sheet-biobox_row_spells_a1,
.sheet-biobox_row_spells_b1,
.sheet-biobox_row_spells_c1,
.sheet-global_flex_one {
	background: rgba(255, 255, 0, 0.3);
}


/* yellow */
.sheet-coins_input,
.sheet-biobox_row_spells_a2,
.sheet-biobox_row_spells_b2,
.sheet-biobox_row_spells_c2,
.sheet-biobox_label {
	background: rgba(0, 255, 255, 0.3);
}


/* red */


/*
.sheet-ribbonLabel
.sheet-ribbon 
.sheet-headerUpperBand { background: rgba(255, 0, 255, 0.3); } */
